
  @import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,600&display=swap');
body{
    background-color: antiquewhite;
}
*{
    margin: 0;
    padding: 0;
}

nav{
    font-family:'Bricolage Grotesque', sans-serif;

}
nav ul{

    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: aliceblue;

}
nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 44px;
    padding: 0 8px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size:  1.3rem;
}

.container{
    min-height: 72vh;
    background-color: black;
    color: antiquewhite;
    font-family:Arial, Helvetica, sans-serif ;
    display: flex;
    width: 70%;
    margin: 23px auto;
    border-radius: 12px;
    padding: 34px;
    background-image: url("lll.jpg");
   
}

.bottom{
    position: sticky;
    height: 100px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.icon{
    margin-top:14px ;
}
.icon i{
    cursor: pointer; ;
}
#myProgress{
    width: 80vw;
    cursor:pointer;
}
.songItemContainer{

    margin-top: 74px;
}
.songItem{
height: 50px;
display: flex;
background-color: aliceblue;
color: black;
margin: 12px;
justify-content: space-between;
align-items: center;
border-radius: 34px;
padding: 0 10px;

}

.songItem img{
height: 50px; ;
width: 43px;
margin:0 23px ;
border-radius: 30px;

}

.timestamp{
    margin: 0 23px;
}
.timestamp i{
    cursor: pointer;
}
.songInfo{
    position: absolute;
   left: 10vw;
   margin-top: -60px;
   font-family:Arial, Helvetica, sans-serif ;
}
.songInfo img{

    opacity: 0;
    transition: opacity 0.4s ease-in;


}



